body{
	margin:0;
	font-family:Helvetica, Arial;
	font-size:small;
	color: white; 
	background-color: #000000;
}

.google-search {
   display: block;
   margin: auto;
   padding-top: 25px;
   padding-bottom: 25px; 
   position: absolute;
  
  left: 50%;
  top: 50%;
    transform: translate(-50%, -40%);

}

.whatsapp {
	max-width: 100%
	height: auto;
	position: relative;
	margin: auto;
}